body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0c0b0b;
    color: aqua;
    height: 100%;
    width: 100%;
}

.contenio-section {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: yellow;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.card-content {
    text-align: left;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.table-section {
    margin: 20px auto;
    max-width: 600px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #0e0e0e;
}

td {
    background-color: #090808;
}

tr:nth-child(even) td {
    background-color: #0e0d0d;
}